<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon">

        <svg width="58" height="54" viewBox="0 0 58 54" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M33.032 0.708435C51.8194 22.2915 40.4988 42.7342 33.178 49.746L28.4643 45.132C45.4303 28.4109 39.7193 9.12529 33.032 0.708435Z" fill="#1848C5"/>
        <path d="M0.272339 48.2555C9.57013 21.1936 32.9342 20.7762 42.6671 23.6103L41.0281 29.9995C18.0642 23.667 4.21787 38.2557 0.272339 48.2555Z" fill="#1848C5"/>
        <path d="M57.5699 52.6988C29.4847 58.1777 17.4412 38.1525 15.0292 28.3065L21.3819 26.5313C27.3797 49.5849 46.9371 54.2818 57.5699 52.6988Z" fill="#1848C5"/>
        </svg>  

                <!-- <i class="{{ htmlWebpackPlugin.options.heading_icon }}">
                </i> -->
            </div>
            <div>{{ htmlWebpackPlugin.options.title }}
                <div class="page-title-subheading">{{ htmlWebpackPlugin.options.description }}
                </div>
            </div>
        </div>
    </div>
</div>