
<ul class="header-menu nav">
    <li class="btn-group nav-item">
        <a href="/" class="nav-link">
            <i class="nav-link-icon fa fa-theater-masks"></i>
            Vault Vision Interactive Sandbox
        </a>
    </li>
</ul>